
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
  scroll-behavior: smooth;
}

body{
	font-family: 'Ubuntu' ;
	font-size: 16px;
	color: #707070;
	background-color: #F7F4EF;
}

h1{
	font-family: 'Ubuntu';
	padding: 15px;
    font-size: 3rem;
}

h2{
	font-family: 'Pacifico';
	color: #42B2AE;
	padding: 15px;
    font-size: 2.75rem;
}
h3{
	font-family: 'Ubuntu';
	color: #182837;
	padding: 15px;
    font-size: 2rem;
}

p{
	margin: 0 0 8px 0;
	font-size: 1rem;
	text-align: left;
}
#main-header{
	background-color: #F8C425;
}
#navigation h1 a{
	text-indent:-100000px;
	background-image:url(imagenes/logo.png);
	background-repeat:no-repeat;
	background-size: contain;
    height: 90px;
	width: 300px;
    background-position: center center;
	display: block;
	margin: 0 auto;
}
#buscador{
	font-size:1.5rem;
}

.screen-reader-text{
	display:none;
}

.navbar-expand-md {
    flex-wrap: wrap;
}
.navbar-dark .navbar-toggler {
    color:rgb(248, 196, 37);
    border-color: #182837;
	background-color: #C00;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 196, 37, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.bg-primary {
    background-color: #f8c32500 !important;
}
.navbar-collapse {
	
	background-color:  #f8c325; 
	
}

.muestra-menu{
	color:rgba(255,255,255,1);
	display: none;
	text-indent:-10000px;
}

#navigation li{
	margin-bottom: 1rem;
}
#navigation li a{
	font-size:1rem;
	color:#182837;
	padding: 0rem 3rem 0rem 3rem;
	border-right: solid 1px #EE6401;
	text-align: center;
}
#navigation li:last-child a{
	border-right: none;
}
a{color:#C00;}
#navigation li a:hover{
	color:#C00;
}
#todos-post{
	text-align:center;
}
.contenedor {
	text-align: center;
}
.post-contenido{
	margin: 0px 0px 30px 0px;
}
.post-contenido p{
	text-align: center;
}
.post-thumbnail{
	font-size:0.875rem;
	padding-bottom: 15px;
	/*margin: 2rem !important;*/
}
.post-thumbnail img{
	border-radius: 20px;
	border: 3px solid #C00;
}
.post-title a{
	font-size:2rem;
	text-decoration:none;
	display: block;
}

#premios img{
	margin: 0px 32px;
}
footer{
	padding: 2rem 0rem;
	font-size: 0.75rem;
	border-top: 1px solid #F8C425;
	margin: 2rem !important;
}

#redes a{
	width:40px;
	height:40px;
	background-repeat:no-repeat;
	background-size:contain;
	margin-right:5px;
	text-indent:-100000px;
	margin-left: 1rem;
	display: block;
}

.twitter{
	background-image:url(imagenes/twitter.svg);
}
.facebook{
	background-image:url(imagenes/facebook.svg);
}

/* categoria*/
.navigation{
	font-size:0.875rem;
}

/* pagina */
#sinopsis{
	text-align: center;
	background-image: url(imagenes/fondosinopsis.png);
	background-repeat: no-repeat;
	background-position: 65% top;
}



#contenido-premios img{
	margin: 0em 2em; 
}

.subir a{
	border-radius: 100%;
	width: 80px;
	height: 80px;
	display: block;
	background-color: #C00;
	color: #F8C425;
	text-align: center;
	padding-top: 30px;
	text-decoration: none;
	margin: 0 auto;
}
#premios .row a{
	margin-bottom: 36px;;
}
@media (max-width:767px){
	.navbar-collapse {
	margin-top: 15px;; 
		
	}
	#navigation li a {
		border-right: none;
	}
}
/*WordpPrees*/

.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
